
@import "./svgGenerator/svgStyle";
@import "./UIControl/uiStyle";
::-webkit-scrollbar {
    display: none;
}


::-webkit-scrollbar {
  display: none;
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    display: none;
}
*::-webkit-scrollbar {
 display: none;
}
body{
  overflow: hidden;
}
// edge and ie
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body{
  margin:0;
}
