// viewcontainer

#viewContainer {
  .outerContainer{
    position:absolute;
    display:flex;
    align-self: center;
    height:95%;
    width:100%;
    justify-content:center;
  }
  .innerContainer{
    display:flex;
    flex-direction:column;
    height: 95%;
    width: 95%;
    position: relative;
  }
  .menuSpace{
    display: flex;
    height: 4%;
  }
}



#menu{
  .menuContain{
    display: flex;
    flex-direction: column;
  }
  .menuInnerContain{
    display: flex;
    flex:1;
    flex-direction: column;
    position: relative;


  }
  .menuBar{
    position:relative;
    display:flex;
    flex-direction:row;
    align-content: center;
    flex:1;
    border:1px solid #fff;
    color:#fff;
    font-weight:200;
    transition: all 300ms ease-in-out;
  }
  .menuItemContain{
    display: flex;
    flex:1;
    justify-content: space-around;
    position: relative;
    opacity: .7;

  }
  .menuText{
    letter-spacing: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }

}
#galleryMainContain{
  .outerContainer{
    display: flex;
    flex:1;
    cursor: pointer;
  }
  .outterWrapperStyles{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    flex: 1;
    margin: 2% 0%;

  }
  .innerWrapperStyles{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .itemStyle{
    display: flex;
    flex: 1;
    cursor: pointer;
    color:#fff;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1{
      font-size: 1.5em;
    }

  }
}
#contactDisplay{
  position: absolute;
  height:100%;
  width: 100%;
}
#contactDisplay{

  .contentDisCurtain{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: .7;
  }
  .motionCont{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  .motionInnerC{
    position: fixed;
    display: flex;
    right: 4%;
    top:5%;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 5px;
    letter-spacing: 4px;
    justify-content: flex-end;
    cursor: pointer;
  }
  .text{
    color:#eee;
    display: flex;
    margin-bottom: 5%;
    justify-content: center;

  }
  .contactContainer{
    display: flex;
    opacity: 1;
    justify-content: space-between;
    flex-direction: row;
    height:20%;
    padding: 2%;
  }
  .contentCont{
    display: flex;
    flex: 1;
    background-color: #062f4f;

  }
  .linkImgContain{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .imgCont{
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .link{
    text-decoration: none;
    color:#fff;
    letter-spacing: 5px;
  }
}
#contactMeBtn{
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: row;
  list-style: none;
  z-index: 10;
  li{
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
    letter-spacing: 3px;
    font-weight: 200;

  }
}
#contentSections{
  opacity: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  .header{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 4px;

  }
  .item{
    background-color: #333;
    border-radius: 3px;
    font-size: 1.2em;
    padding: .05rem 1.75rem;
    letter-spacing: 3px;
    color:#fff;
    font-weight: 200;
    margin-bottom: 3px;
  }

}

#SplitView{
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  opacity: 1;
  transition: all 500ms ease-in-out;
  color: #fff;



  .innerLeft{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #fff;
    position: relative;
    transition: all 500ms ease-in-out;


  }

  .innerRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
    transition: all 500ms ease-in-out;
  }

  .introductionSite{
    position: relative;
    padding:5%;
  }
  .introduction{
    position: relative;
    padding:5%;
  }
  .meDeco{
    position: absolute;
    height: 90%;
    width: 90%;
    opacity: .5;
    background-color: #fff;
    top:5%;
    left:5%;
    border-radius: 1em;
    box-shadow: inset 1px 1px 1px 3px #ccc;

    display: flex;
  }
  .list{
    opacity: 1;
    color:#fff;
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: relative;

    h1{
      letter-spacing: 3px;
      font-weight: 400;

    }

    li{
      padding: 2% 0%;
      text-align: left;
      color:#fff;
      opacity: 1;
    }
  }

}

#footer{
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  flex-direction: column;

  .list{
    opacity: 1;
    list-style: none;
    margin: 0;
    padding: 0;

  }
  .listContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
  .listItem{
    opacity: 1;
    margin: 0;
    align-self: center;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 2em;

  }
  .contact{
    text-align: center;
    opacity: 1;
    color: #eee;
  }
  .anaContain{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 2em;
    overflow: hidden;

  }
}

#GallerySubText{

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  h3{
    width: 100%;
    text-align: center;
    letter-spacing: 3px;

  }
  ul{
    opacity: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;



  }
    .header{

      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom:5px;

    }
    .galleryItem{
      background-color: #333;
      border-radius: 3px;
      font-size: .8em;
      padding: .45rem 1.75rem;
      letter-spacing: 3px;
      color: #fff;
      font-weight: 200;
      margin-bottom: 3px;
      text-align: center;
    }
    input{
      box-shadow: inset 0 0 0 1px #707070;
      border: 5px solid #c9c9c9;
      background-color: #fff;
      border-radius: 3px;
      font-size: 1.2em;
      padding: .45rem .75rem;


    }
}
#Header{
  display: flex;
  width: 100%;
  height: 7%;
  flex-direction: row;
  margin-bottom:2%;

  .container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;

  }
  .textContain{
    display: flex;
    color:#e5e5e5;
    height: 7%;
  }
  h1{
    margin:0;
    color:#fff;
  }
}
#Landing{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color:#fff;
  .inner{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    cursor: pointer;

  }
  .name{
    letter-spacing: 5px;
    font-weight: 400;
  }
  .subHeader{
    text-decoration: none;
    letter-spacing: 3px;
  }

}
#Uicontrol{
  .outerContainer{

  }
}
.uiControlCont{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.WildCardContainer{
  opacity:1;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;

}
.wildcardTitle{
color:#fff;
background-color: #222222;
text-align: center;
margin-left: 10%;
margin-right: 10%;
letter-spacing: 5px;
}
.wildCardSolo{
  padding: 1% 4%;
  color: #fff;
  p{
    a{
      margin:1px;
      color:#FF4900;

    }
  }
  div.problemSolution{
    color:#fff;
  }
  .paragraph {
    font-family: sans-serif;
    text-indent: 3em;
    text-align: left;
  }
  .imageSliderContainer{
    display:flex;
    justify-content: space-around;
    align-items: center;


  }
  .sliderImage{
    display: flex;
    flex:2;
    height:auto;
    width: 50%;

  }
  .sliderArrow{
    display: flex;
    flex:1;
    align-items: center;
    margin: 0% 10%;
  }
  .videoClass{
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    flex: 1;
    z-index: 5;
  }
  .problemSolution{
    ul{
      list-style: none;
      padding: 0;
      li{
        color:#fff;
      }
    }
    padding:5%;
    box-shadow: inset 0 0 6px #eee;
  }
}
.problemSolutionFooter{
  margin-top: 5%;
  h2{
    text-align: center;
    letter-spacing: 7px;
    font-weight: bolder;
    font-size: 2em;
  }
}

.galleryHeader{
    margin: 1px;
    padding-left: 5%;
    color: #FF4900;
    letter-spacing: 3px;

    h3{
      cursor: pointer;
      width: 10%;
    }

}
#footer{
  ul.list{
    li{
      opacity: 1;
      display: flex;
      margin: 0;
      align-self: center;
      height: 100%;
      width: 50%;
      justify-content: center;
      position: relative;
      border-radius: 2em;

    }
  }
}
.splitImgCont{
  position: relative;
}
.splitImg{
  position: absolute;
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}


@media (max-width: 800px) {
  #menu{

    .menuText{
      font-size: 1em;
      letter-spacing: 0px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }

  }
  #contactDisplay{


    .linkImgContain{
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      a{
        h1{
          font-size: 1em;
        }
      }
    }

  }
}
